<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-6" *ngFor="let suj of subject | paginate: { itemsPerPage: iteam, currentPage: countPage }" style="margin-top: 20px;"  >
                        <div class="card" style="width: 90%">
                                <img src="assets/TaiNguyen/images/logos/{{suj.Logo}}" class="img-fluid" style="width: 180px; margin: 0 auto;" alt="Responsive image">
                                <div class="card-footer text-muted">
                                  <p class="card-text"><a [routerLink]="['/TestAns', suj.Name, suj.Id]" style="text-decoration: none;">{{suj.Name}}</a></p>
                                </div>
                         </div>
                </div>
            </div>
            <div class="rowww" style="width: auto; text-align: center; margin-top: 20px;">
              <button  (click)="luiPage()" style="margin-right: 20px; border-radius:30% ;"><i class='fas fa-hand-point-left' style='font-size:36px' style="color: blue;"></i></button>
              <button (click)="tangIteam()" style="margin-right: 20px; border-radius:30% ;"><i class='fas fa-hand-point-down' style='font-size:36px'  style="color: blue;"></i></button>
              <button  (click)="giamIteam()" style="margin-right: 20px; border-radius:30% ;"><i class='fas fa-hand-point-up' style='font-size:36px'  style="color: blue;"></i></button>
              <button (click)="tangPage()" style="margin-right: 20px; border-radius:30% ;"><i class='fas fa-hand-point-right' style='font-size:36px'  style="color: blue;"></i></button>              
            </div>
        </div>
        <div class="col-3">
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Danh mục môn học
                      </button>
                    </h2>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <ul class="list-group" *ngFor="let su of subject">
                            <li class="list-group-item"><a [routerLink]="['/TestAns', su.Name, su.Id]" style="text-decoration: none;">{{su.Name}}</a></li>
                          </ul>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>