<div class="container" *ngIf="checkLogin">
    <div class="row" *ngIf="checkfrom">
        <div class="col-12" class="form-group">
        <form (ngSubmit)="onSubmitUpdate()" [formGroup]="fromUpdateStu" >
           <label>FullName: </label> <input class="form-control" type="text" formControlName="fullname" required>
            <br><br>
            <label >Email:</label><input class="form-control" type="email" formControlName="email" required email>
            <br><br>
           <label>BirthDay:</label> <input class="form-control" type="date" formControlName="birthday" required>
            <br><br>
            <p *ngIf="fromUpdateStu.invalid">Bạn đã bỏ trống gì rồi Hoặc Định dạng email không hợp lệ</p>
            <button  class="btn btn-primary" [disabled]="fromUpdateStu.invalid" >Thay đổi thông tin</button><br><br>
        </form>
        </div>
        <div class="col-12">
        <button (click)="showMK()" class="btn btn-warning" >Đổi Mật Khẩu </button>
        </div>
    <br><br>
    </div>
    <div class="row" *ngIf="!checkfrom">
        <div class="col-12" class="form-group">    
        <form (ngSubmit)="changePass()" [formGroup]="formPass">
            <input type="text" placeholder="Mật Khẩu Cũ" formControlName="passOld" required class="form-control"><br>
            <p *ngIf="formPass.touched && formPass.controls.passOld?.errors?.required">Không dc bỏ trống</p>
            <input type="password" placeholder="Mật Khẩu Mới" formControlName="passNew1" required class="form-control"><br>
            <p *ngIf="formPass.controls.passNew1?.errors?.minlength ">Mật Khẩu phải từ 6 kí tự trở lên và không quá 20 kí tự</p>
            <p *ngIf="formPass.touched && formPass.controls.passNew1?.errors?.required">Không dc bỏ trống</p>
            <input type="password" placeholder="Nhập Lại Mật Khẩu Mới" formControlName="passNew2" required class="form-control"><br>
            <p *ngIf="formPass.touched && formPass.controls.passNew2?.errors?.required">Không được bỏ trống</p>
            <p *ngIf="checkPass">Mật Khẩu Đã Được Thay Đổi</p>
            <p *ngIf="checkPasss">Thay Đổi Mật Khẩu Thất Bại</p>
            <br><br>
            <button [disabled]='formPass.invalid' class="btn btn-success">Submit</button>
        </form>
        <br><br>
        </div>
        <div class="col-12">
        <button (click)="vesuatt()" class="btn btn-success">Quay Về Sửa Thông Tin</button>
        </div>
    </div>

</div>


<div class="containe" *ngIf="!checkLogin">
    <div class="row">
        <div class="row" >
            <h1>HÃY ĐĂNG NHẬP TRƯỚC </h1>
        </div>
    </div>
</div>

